.links-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 95vh;
}

.link-item {
  list-style: none;
}

.page-link {
  text-decoration: none;
  color: white;
}
